html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.head {
    padding: 40px 0 40px 0;
}

.site-navigation {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 490px;
    float: right;
}

.site-navigation li {
    float: left;
    margin-right: 32px;
    padding: 0;
}
.site-navigation li:last-child {
    margin-right: 0;
}

.site-logo {
    display: inline-block;
    padding: 0;
}

.site-logo:hover {
    transform: scale(1.1);
}

.site-navigation a {
    color: #0f0101;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}


.page-navigation {
    max-width: 1110px;
    margin: 0 auto;
}

/* SLIDER */

.slider {
     max-width: 1600px;
     height: auto;
     margin: 0 auto;
     position: relative;
     padding: 0;
     list-style: none;
 }

 .slider-ctrl:hover {
     opacity: 0.561;
 }


 .slider-ctrl-prev {
     position: absolute;
     width: 28px;
     height: auto;
     top: 50%;
     left: 30px;
     transform: translateY(-50%);
}

.slider-ctrl-next {
    position: absolute;
    width: 28px;
    height: auto;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slider-ctrl {
     position: absolute;
     cursor: pointer;
     width: 104px;
     height: 104px;
     z-index: 1;
     display: inline-block;
     border: none;
     padding: 0;
     background-color: rgb(26, 188, 156);
     top: 50%;
     transform: translateY(-50%);
 }


.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.slides-item {
    position: relative;
}

.slides-descr {
    position: absolute;
    top: 38%;
    left: 15%;
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 82px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.slides-descr span {
    font-size: 24px;
    line-height: 54px;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
}
/* 
NEW COLLECTION */

.new-collection {
    font-size: 48px;
    line-height: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.new-collection::after {
    content: "";
    background-color: rgb(26, 188, 156);
    position: absolute;
    width: 164px;
    height: 7px;
    top: 168px;
    left: 50%;
    transform: translateX(-50%);
}

.main-item {
    background-color: #e9f0fd;
    max-width: 1600px;
    height: 680px;
    position: relative;
}


.card-gallery {
    position: absolute;
    top: 255px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.card-item {
    float: left;
    margin-right: 30px;
    position: relative;
    list-style: none;
    width: 255px;
}

.card-item:last-child {
    margin-right: 0;
}

.card-item:hover .price {
    background-color: #7fd9c7;
}

.card-item:hover .link-item {
    background-color: #1abc9c;
}

.card-item:hover .overlay {
    z-index: 1;
}



.link-item {
        display: block;
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        background-color: #323232;
        text-decoration: none;
        text-transform: uppercase;
        float: left;
        height: 40px;
        width: 200px;
        /* vertical-align: middle; */
        padding-left: 14px;
        font-weight: 900;
        padding: 4px 16px;
        position: absolute;
        bottom: 0;
}

.price {
    height: 40px;
    width: 55px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    background-color: #8c8c8c;
    color: #ffffff;
    margin-left: 200px;
    padding: 6px;
    position: absolute;
    bottom: 0;
    cursor: pointer;

}

.overlay {
    width: 255px;
    height: 282px;
    position: absolute;
    z-index: -1;
}


  
.buttons {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-button {
    height: 50px;
    width: 50px;
    background: none;
    border: 1px solid #ffffff;
}

.modal-button:hover {
    background-color: #1abc9c;
    cursor: pointer;
    transform: scale(1.1);
}

.buttons-list {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.one {
    background-position: center;
    background-image: url(../image/like.png);
    background-repeat: no-repeat;
}

.two {
    background-position: center;
    background-image: url(../image/2.png);
    background-repeat: no-repeat;
}

.three {
    background-position: center;
    background-image: url(../image/time.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.four {
    position: relative;
    width: 170px;
    background-color: #323232;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    text-align: right;
    font-weight: 400;
    padding: 0 18px;
}

.four::before {
    display: table;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../image/add.png);
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* FOOTER */

.page-footer {
    height: 88px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #323232;
}

.footer-list {
    margin: 0;
    padding: 32px 0;
    font-size: 0;
    list-style: none;
}

.footer-list-item {
    font-size: 16px;
    line-height: 28px;
    color: #fefefe;
    display: inline-block;
    position: relative;
    margin: 0 5px 0 7px;
}

.footer-list-item:first-child::after {
    content: "";
    display: table;
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #fefefe;
    right: -8px;
    bottom: 8px;
}

.footer-link {
    text-decoration: none;
    color: #45b6a1;
}
