@font-face {
    src: url(../font/Wisdom\ Script\ AJ.woff);
    font-family: 'Wisdom';
    font-size: 16px;
    font-weight: normal;
}

@font-face {
    src: url(../font/RobotoSlabregular.woff);
    font-family: 'RobotoSlab';
    font-size: 16px;
    font-weight: normal;
}

@font-face {
    src: url(../font/Montserrat.woff);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: normal;
}

@font-face {
    src: url(../font/Droidserif.woff);
    font-family: 'DroidSerif';
    font-size: 16px;
    font-weight: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
/* 
NAVIGATION */


.header-block {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 125px;
}

.site-navigation {
    display: flex;
    max-height: 65px;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    text-decoration: none;
}

.logo h2 {
    color: gold;
    font-size: 26px;
    line-height: 41px;
    list-style: none;
    font-family: 'Wisdom';
    font-weight: normal;
}

.list-navigation {
    list-style: none;
    min-width: 485px;
    display: flex;
    justify-content: space-between;
}



.link-navigation {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 41px;
    font-weight: 600;
    color: #222222;
    text-decoration: transparent;
    transition: linear 200ms;
    text-transform: uppercase;
}

.link-navigation:hover {
    color: #fed136;
}

/* SERVICE */

.menu {
    max-width: 1600px;
    padding: 0;
    margin: 0 auto;
}

.service {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 940px;
}

.part-one {
    text-align: center;
    margin: 0 auto;
}

.part-one h2 {
    display: block;
    margin-bottom: 20px;
    color: #222222;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat';
    text-transform: uppercase;
} 

.part-one p {
    font-size: 16px;
    color: #777777;
    font-style: italic;
    font-weight: normal;
    font-family: 'DroidSerif';
}

.service-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    list-style: none;
    height: 270px;
}

.list-item {
    width: 290px;
}

.list-item img {
    margin-bottom: 14px;
}

.list-item h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}

.list-item p {
    font-family: 'RobotoSlab';
    font-size: 14px;
    font-weight: 500;
    color: #777777;
}


/* CONTACT */

.contact {
    background-color: #222222;
    background-image: url(../image/Map.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position-x: right;
    background-position-y: bottom;
    padding-bottom: 75px;
    border: 20px solid transparent;
}

.part-two {
    text-align: center;
    padding: 110px 0 90px;
}

.part-two h2 {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 25px;
}

.part-two p {
    font-size: 16px;
    font-style: italic;
    color: #777777;
    font-family: 'DroidSerif';
}

.form-class {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 940px;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-form {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
    padding-left: 12px;
    width: 444px;
    height: 55px;
    border-radius: 4px;
}

.input-form:valid {
    outline: 1px solid rgb(172, 255, 47);
}

.input-form:invalid {
    outline: 1px solid rgb(255, 0, 0);
}

input::-webkit-input-placeholder { color: #bbbbbb; }
textarea::-webkit-input-placeholder {color: #bbbbbb;}

.message-form {
    font-size: 18px;
    width: 445px;
    height: 210px;
    border-radius: 4px;
    padding: 10px 0 0 10px;
}


.send-message {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fed136;
    width: 240px;
    height: 65px;
    margin: 30px auto 0;
    transition: linear 200ms;
}

.send-message:hover {
    background-color: #fff23e;
}


